.heading {
    font-family: "Poppins", sans-serif;
    margin-bottom: 3rem;
}

.heading-sub-text {
    color: var(--soft-white);
}

.heading-text {
    color: var(--soft-white);
    font-size: 2.5rem;
}

.split-work-experience {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
}

.work-experience-item {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.work-experience-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-experience-item-header-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.work-experience-item-header-date {
    font-size: 1rem;
    font-weight: 400;
    color: var(--nav-grey);   
}

.work-experience-item-content {
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    font-size: 1rem;
}